body{
    background-color: rgb(183, 126, 236);
    color:black;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.passo-0 {
    background-color: rgb(41, 2, 104);
}
header{
    background-color: black;
    color: white;
}